@use '../../styles/_var' as var;
.products {
  display: flex;
  flex-direction: column;
}

.blocks {
  display: grid;
  grid-template-columns: repeat(3, minmax(506px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  padding: 80px 140px 0;
}
.block {
  display: flex;
  flex-direction: column;
  width: 506px;
}

.block.wide {
  display: flex;
  flex-direction: column;
  width: 1052px;
}

.images_wrapper {
  display: flex;
}

.img_block_wide_small {
  display: none;
}

.btn_products {
  width: 100%;
  height: 100%;
}

.link {
  height: 68px;
  width: 100%;
  background-color: #94b335;
  color: #ffffff;
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  text-align: center;
  padding: 18px;
  font-weight: 600;
  font-family: var.$raleway;
  font-size: 26px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.8s ease;

  &:hover {
    transition: all 0.8s ease;
    background-color: var.$button-green;
  }
}

.buttons {
  display: none;
}
.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  &:hover,
  &:active {
    opacity: 0.7;
  }
}

@media (max-width: 1919px) {
  .blocks {
    grid-template-columns: repeat(2, minmax(560px, 1fr));
  }
  .block {
    width: 560px;
  }
  .img_block {
    width: 560px;
    height: auto;
    object-fit: cover;
  }
  .img_block_wide {
    width: 1160px;
    height: auto;
    object-fit: cover;
  }
  .block.wide {
    width: 1160px;
  }
}

@media (max-width: 1439px) {
  .blocks {
    grid-template-columns: repeat(2, minmax(430px, 1fr));
    padding: 80px 100px 0;
    grid-column-gap: 40px;
  }
  .block {
    width: 430px;
  }
  .img_block {
    width: 430px;
    object-fit: cover;
  }
  .img_block_wide {
    width: 905px;
    object-fit: cover;
  }
  .block.wide {
    width: 905px;
  }
}

@media (max-width: 1099px) {
  .blocks {
    grid-template-columns: repeat(1, minmax(506px, 1fr));
  }
  .img_block {
    width: 506px;
    object-fit: cover;
  }
  .block.wide {
    width: 506px;
  }
  .img_block_wide_small {
    display: block;
    object-fit: cover;
  }
  .img_block_wide {
    display: none;
    object-fit: cover;
  }
  .buttons {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .link {
    width: 506px;
  }
}

@media (max-width: 743px) {
  .blocks {
    padding: 30px 20px 0;
  }
  .block {
    width: 350px;
  }
  .btn_products {
    width: 350px;
  }
  .link {
    width: 350px;
  }
  .img_block {
    width: 350px;
    height: 200px;
  }
  .img_block_wide_small {
    width: 350px;
    height: 200px;
    object-position: left;
  }
  .buttons {
    padding-top: 20px;
    gap: 80px;
  }
}
