@use '../../../styles/_var' as var;

.card {
  flex: 0 0 auto;
  width: 280px;
  height: 400px;
  scroll-snap-align: center;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 12px;
  padding: 0 0 28px 20px;
  font-family: var.$raleway;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  transform: translateX(var(--slide-x, 0));

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: 8px;
    background: linear-gradient(
      180deg,
      rgba(32, 34, 27, 0) 0%,
      rgba(32, 34, 27, 0.64) 60.1%,
      rgba(32, 34, 27, 0.8) 79.81%
    );
    pointer-events: none;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  .title {
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    color: var.$white;
  }
  .description {
    font-weight: 300;
    font-size: 20px;
    line-height: 100%;
    color: var.$white;
  }
}

@media (max-width: 1099px) {
  .card {
    width: 200px;
    height: 284px;

    .title {
      font-size: 25px;
    }
    .description {
      font-size: 18px;
    }
  }
}
@media (max-width: 743px) {
  .card {
    width: 130px;
    height: 184px;

    .title {
      font-size: 16px;
      line-height: 19px;
    }
    .description {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
