.main {
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1919px) {
  .main {
    width: 1440px;
  }
}

@media (max-width: 1439px) {
  .main {
    width: 1100px;
  }
}

@media (max-width: 1099px) {
  .main {
    width: 744px;
  }
}
@media (max-width: 743px) {
  .main {
    width: 390px;
  }
}
@media (max-width: 389px) {
  .main {
    width: 350px;
  }
}
